{% extends 'base.html' %}

{% block title %}{{ movie.title }} - Details{% endblock %}

{% block body %}
<h1>{{ movie.title }}</h1>

<p>
  {{ movie.overview }}
  {{movie.movie_id}}
  </p>
<form action="/user_rating" method="POST">
  <label for="">Rate the movie from 0 to 5:</label>
  <input type="text" name="user_grade" >
  <input type="hidden" name="movie" value={{movie}}>
  <input type="hidden" name="movie_id" value={{movie.movie_id}}>
  <input type="submit">
</form>
<img src="{{ movie.poster_path }}">

{% endblock %}